<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Instructions</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<h1 class="text-center">King Tide Days</h1>

		<div class="row bluerow">
<h2>How to Document a Flood</h2>
</div>
<div class="row">
<ol>
<li>Use your cell phone to take a photo of a flooded area. If there is no flooding, take a photo of a dry area near a water source.</li>
<li>On your phone’s internet browser, go to <a href="http://eyesontherise.org/flood" target="map">http://eyesontherise.org/flood</a>. The form may ask to use your phone’s GPS to determine your location. Agreeing will allow the device to automatically pinpoint your location on the map. If you don’t see this notification, or if you decline, simply enter your location in the Description box.</li>
<li>Enter your name and e-mail address.</li>
<li>Select the date and the time that you are observing the flood.</li>
<li>Provide a description (location, appearance, etc.). The more detail, the better!</li>
<li>If you do see a map below your entry, please make sure it references your current location. If necessary, you can manually enter your location at the top of the map.</li>
<li>If you have access to a ruler and/or salinity measurement tool (such as a refractometer), use it to measure the depth flooding and/or salt content, then enter it into the form. This information is especially important.</li> 
<li>Upload photos or videos of the scene by pressing the CHOOSE FILE button. You may upload up to 3 files. If you shoot video, it should be short (under 10 seconds).</li>
<li>When you are done, press SUBMIT.</li>
</ol>
</div>

<div class="row bluerow">
<h2>Tips for Effective King Tides Photos</h2>
</div>
<div class="row">
<ul>
<li>Take pictures at or near peak high tide. You can track high tides and water levels in your area using NOAA’s Tides and Currents page.</li>
<li>Take pictures where the impact of tides can be gauged against familiar landmarks, such as buildings, roads, sidewalks, parking lots, jetties, bridges, sea walls, & shorelines.</li>
<li>Take contrasting shots of peak high and low tides, to help show the tidal range/variation.</li>
<li>Most importantly- be safe! Use good judgment when you are taking photos; stay away from dangerous situations – such as stormy conditions – and avoid taking risks.</li>
</ul>
</div>
<div class="row bluerow">
<h2>How Photos of Flooding are Used to Help People</h2>
</div>
<div class="row">
<ul>
<li>Document current flood risk in coastal areas</li>
<li>Visualize the impacts of future sea level rise in their community</li>
<li>Verify climate change models by comparing model predictions with the high-tide reality</li>
<li>Serve as a living record of change for future generations</li>
</ul>
</div>
<div class = "row bluerow">
<h2>How to Use a Refractometer</h2>
</div>
<div class="row">
<img src="http://eyesontherise.org/app/images/refractometer.png" class="img-responsive center-block">
<ol>
  <li>Open the daylight plate and apply one or two drops of the sample solution using a pipette (or eyedropper) to the surface of the prism. Hold the refractometer at an angle, so the sample will not run off.</li>
<li>Gently close the daylight plate to avoid splashing. The sample solution should make a thin film over the entire surface of the prism. If the sample does not cover the entire prism, reapply the sample solution. If the prism is not completely covered or has bubbles it could result in inaccurate readings.</li>
<li>Look through the eyepiece. Focus the scale until it is sharp to your eyes by gently turning the eyepiece either clockwise or counterclockwise.</li>
<li>The upper field of view appears blue and the lower field will be white. The reading is taken at the line where the blue and white fields meet.</li>
<li>After taking a salinity reading, gently wipe the prism with a provided cloth.</li> 
<li>You will need to calibrate your refractometer periodically. To calibrate it, take a reading using distilled water. Turn the calibration screw with the included screwdriver while looking through the eyepiece until the boundary line falls on “0”.</li>
</ol>
</div>
<div class = "row">
<h2>Tips on Using Refractometer</h2>
</div>
<div class="row">
<ul>
<li>Be gentle with the instrument: do not drop it or handle it roughly.</li>
<li>Do not use a rough or abrasive material to clean the prism.</li>
<li>Do not hold the refractometer under a stream of water or splash it with water</li>
</ul>
</div>
<footer> 
<div class = "row">
<div class="col-xs-6 col-md-6">
<img src="http://eyesontherise.org/app/images/smeyes.png" class="img-responsive" longdesc="http://eyesontherise.org">
</div>
<div class="col-xs-6 col-md-6"> 
  <img src="http://eyesontherise.org/app/images/smslsc.png" class="img-responsive"> </div>
 </div>
 </footer>


		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 		<script src="Hello World"></script>
	</body>
</html>