<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Locations</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
<div class="container-fluid">
<div class="row">
<h1 class="text-center">Likely Flood Locations (March 26-30)</h1>
<p><strong>Click a location to view it on Google Maps.</strong></p>
</div>
<div class = "row">
<div class="col-xs-8 col-md-8 hed">
Location
</div>
<div class="col-xs-4 col-md-4 hed">
High Tide Time
</div>
</div>

<div class = "row bluerow">
<div class="col-xs-12 col-md-12">
Matheson Hammock Park
</div>
</div>
<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Matheson+Hammock+Park/@25.6773691,-80.2598968,16z/data=!4m5!3m4!1s0x88d9c865b9db73f9:0x1e031fc66eea4f42!8m2!3d25.6818174!4d-80.2722657" target = "map">Boat Ramp Parking Lot</a>
</div>
<div class="col-xs-4">
8:10am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Matheson+Hammock+Park/@25.6800336,-80.2568777,16z/data=!4m5!3m4!1s0x88d9c865b9db73f9:0x1e031fc66eea4f42!8m2!3d25.6818174!4d-80.2722657" target = "map">Red Fish Grill Parking Lot</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row bluerow">
<div class="col-xs-12 col-md-12">
Coconut Grove/Dinner Key/Vizcaya
</div>
</div>
<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/@25.7131759,-80.2519027,17z" target = "map">N Bay Homes & Park Ln</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/@25.7256651,-80.2427476,17z" target = "map">Peacock Park</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/@25.7323956,-80.2331422,17z" target = "map">David Kennedy Park</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Kenneth+M.Myers+Bayside+Park,+Miami,+FL+33133/@25.7272608,-80.2407578,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b7ce65742119:0xe74d952964de80cd!8m2!3d25.7273472!4d-80.2382306" target = "map">Myers Bayside Park</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Ah+We+Wa+St,+Miami,+FL+33133/@25.7386224,-80.2262268,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b649aa12f01b:0x3eb2f5e6768c6e9d!8m2!3d25.7386176!4d-80.2240328" target = "map">Ah We Wah St. & Bayshore Dr.</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Fair+Isle+St,+Miami,+FL+33133/@25.7369869,-80.2216902,17z/data=!4m5!3m4!1s0x88d9b6486bfee0cb:0x4721c1deb42e22f8!8m2!3d25.737214!4d-80.221996" target = "map">Fair Isle Street</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Fairhaven+Pl,+Miami,+FL+33133/@25.738325,-80.2240593,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b64862beb191:0x5988e7984c42650e!8m2!3d25.7383202!4d-80.2218653" target = "map">Fairhaven Place</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/W+Fairview+St,+Miami,+FL+33133/@25.7392183,-80.2226101,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b6462168d4d5:0x50536b047c53f809!8m2!3d25.7392135!4d-80.2204161" target = "map">W. Fairview St.</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/E+Fairview+St,+Miami,+FL+33133/@25.7396156,-80.2218524,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b6461697f397:0x47b2020fd8e817d2!8m2!3d25.7396108!4d-80.2196584" target = "map">E. Fairview St.</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/W+Glencoe+St,+Miami,+FL+33133/@25.7405138,-80.2209018,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b6467b37e973:0xd56969998f067a75!8m2!3d25.740509!4d-80.2187078" target = "map">W. Glencoe St.</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/E+Glencoe+St,+Miami,+FL+33133/@25.7402619,-80.2197884,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b64687a7edaf:0x93445b6456bc68d4!8m2!3d25.7402571!4d-80.2175944" target = "map">E. Glencoe St.</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Vizcaya+Museum+%26+Gardens/@25.7443914,-80.2126687,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b65d4fea9813:0xf860ad840edd24e1!8m2!3d25.7443866!4d-80.2104747" target = "map">Vizcaya Museum, NE Side</a>
</div>
<div class="col-xs-4">
8:03am
</div>
</div>

<div class = "row bluerow">
<div class="col-xs-12 col-md-12">
Virginia Key & Key Biscayne
</div>
</div>
<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Marine+Stadium/@25.7386615,-80.1636153,14z/data=!4m5!3m4!1s0x88d9b5c669bc4f1b:0xecedb19f64017104!8m2!3d25.7423677!4d-80.1705193" target = "map">Marine Stadium, SW Side</a>
</div>
<div class="col-xs-4">
7:37am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Hobie+Island+Beach+Park/@25.746058,-80.1992676,16z/data=!4m5!3m4!1s0x88d9b5c5c09b819f:0xc0a8ae82a2422b76!8m2!3d25.7460822!4d-80.1991657" target = "map">Hobie Island Beach</a>
</div>
<div class="col-xs-4">
7:37am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Miami+Seaquarium/@25.7329352,-80.1667934,17z/data=!4m5!3m4!1s0x88d9b5bfcb59e929:0x97bbc25f4ee6d0d3!8m2!3d25.7344091!4d-80.1648139" target = "map">Sequarium Parking Lot, NW Corner</a>
</div>
<div class="col-xs-4">
7:37am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Miami+Seaquarium/@25.7329352,-80.1667934,17z/data=!4m5!3m4!1s0x88d9b5bfcb59e929:0x97bbc25f4ee6d0d3!8m2!3d25.7344091!4d-80.1648139" target = "map">Sequarium Parking Lot, Main Area</a>
</div>
<div class="col-xs-4">
7:37am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/NOAA+Miami+Regional+Library/@25.734696,-80.1643753,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b5bf1dac1591:0xb2068f278eb4c5f4!8m2!3d25.7346912!4d-80.1621813" target = "map">NOAA Library Parking Lot</a>
</div>
<div class="col-xs-4">
7:37am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Southeast+Fisheries+Science+Center/@25.7334208,-80.1627784,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b5bc158dde1f:0x66d6e868fafdab79!8m2!3d25.733416!4d-80.1605844" target = "map">SE Fisheries Science Center</a>
</div>
<div class="col-xs-4">
7:37am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Crandon+Park+Marina/@25.724303,-80.157844,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b58c7ad31201:0x7c5fc5cdf003cf50!8m2!3d25.7242982!4d-80.15565" target = "map">Crandon Park Marina</a>
</div>
<div class="col-xs-4">
7:53am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Crandon+Park/@25.7094488,-80.158358,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b58c7ad31201:0x752d0a1cf45fb85a!8m2!3d25.709444!4d-80.156164" target = "map">Crandon Park Entrances</a>
</div>
<div class="col-xs-4">
7:53am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/177+Ocean+Ln+Dr,+Miami,+FL+33149/@25.6995325,-80.1590996,18z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9ca722b5cc8f1:0x423eb466e9dc441c!2sOcean+Ln+Dr,+Key+Biscayne,+FL+33149!3b1!8m2!3d25.6995952!4d-80.1599529!3m4!1s0x88d9ca71126436e3:0x45c54f0526e65e0b!8m2!3d25.6994061!4d-80.1578599" target = "map">Ocean Ln Dr East of Crandon Blvd</a>
</div>
<div class="col-xs-4">
7:53am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/168+Harbor+Dr,+Key+Biscayne,+FL+33149/@25.6987385,-80.1696024,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9ca137d108011:0xa61affb540f26581!2sHarbor+Dr,+Key+Biscayne,+FL+33149!3b1!8m2!3d25.6919454!4d-80.1723383!3m4!1s0x88d9ca0d0bf79cd7:0x23ce8f89c53c72d3!8m2!3d25.6984784!4d-80.1677648" target = "map">Harbor Dr East of Crandon Blvd</a>
</div>
<div class="col-xs-4">
7:53am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/398+W+Heather+Dr,+Key+Biscayne,+FL+33149/@25.6938854,-80.1743821,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9ca13ab36e3f7:0x3fa1ba70af1591c4!2sW+Heather+Dr,+Key+Biscayne,+FL+33149!3b1!8m2!3d25.6938242!4d-80.1682715!3m4!1s0x88d9ca11769f6327:0x93f5ef352eb063bb!8m2!3d25.6938641!4d-80.1721966" target = "map">Heather Dr near Harbor Dr</a>
</div>
<div class="col-xs-4">
7:53am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/W+McIntyre+St,+Key+Biscayne,+FL+33149/@25.6906343,-80.1671466,17z/data=!4m5!3m4!1s0x88d9ca13801addb7:0x24c6c8b92f5a69bb!8m2!3d25.6908422!4d-80.1678923" target = "map">W McIntyre & Ridgewood Rd</a>
</div>
<div class="col-xs-4">
7:53am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/546+Glenridge+Rd,+Key+Biscayne,+FL+33149/@25.6911524,-80.1670996,18z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9ca1461a35a93:0x69f793c9e4049af6!2sW+Enid+Dr,+Key+Biscayne,+FL+33149!3b1!8m2!3d25.6901329!4d-80.1682861!3m4!1s0x88d9ca14a7b0f175:0x8b4429090793067c!8m2!3d25.6901935!4d-80.166031" target = "map">W Enid & Glenridge Rd</a>
</div>
<div class="col-xs-4">
7:53am
</div>
</div>
<div class = "row bluerow">
<div class="col-xs-12 col-md-12">
Venetian Islands
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Palm+Island/@25.7798678,-80.1667092,16z/data=!3m1!4b1!4m5!3m4!1s0x88d9b46a600a5d57:0xb4db1f29c00035cd!8m2!3d25.778995!4d-80.1603018" target = "map">Palm Island</a>
</div>
<div class="col-xs-4">
7:46am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/110+3rd+San+Marino+Terrace,+Miami+Beach,+FL+33139/@25.7914325,-80.1640046,18z/data=!3m1!4b1!4m5!3m4!1s0x88d9b4728b843e9f:0x408132253b8f3ef3!8m2!3d25.7915903!4d-80.1631766" target = "map">San Marino Island</a>
</div>
<div class="col-xs-4">
7:46am
</div>
</div>

<div class = "row bluerow">
<div class="col-xs-12 col-md-12">
Miami River/Downtown
</div>
</div>

<div class = "row">
<div class="col-xs-1">
</div>
<div class="col-xs-7">
<a href = "https://www.google.com/maps/place/Morningside+Park,+Miami,+FL+33137/@25.8248696,-80.1816534,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b3e70d9a2211:0xd534d9561e48b35b!8m2!3d25.8248648!4d-80.1794594" target = "map">Morningside Park</a>
</div>
<div class="col-xs-4">
7:29am
</div>
</div>

<div class = "row">
<div class="col-xs-1">
</div>
<div class="col-xs-7">
<a href = "https://www.google.com/maps/place/Baywood+Park,+Miami,+FL+33138/@25.8399253,-80.1855101,15z/data=!4m5!3m4!1s0x88d9b3d02433cd4b:0x220f919f2117d175!8m2!3d25.8400457!4d-80.176957" target = "map">Baywood Park</a>
</div>
<div class="col-xs-4">
7:29am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/NW+13th+Ct,+Miami,+FL/@25.7893523,-80.2195113,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b6c447aaf01d:0x447ddba1b4af7875!8m2!3d25.7893475!4d-80.2173173" target = "map">NW 13 Ct, West of Civic Center</a>
</div>
<div class="col-xs-4">
7:29am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Sewell+Park/@25.7851501,-80.2263085,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b6ddaf604e0d:0x8ab5062338f97d9b!8m2!3d25.7851453!4d-80.2241145" target = "map">Sewell Park</a>
</div>
<div class="col-xs-4">
7:29am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/NW+North+River+Dr,+Miami,+FL/@25.7831942,-80.2130426,18z/data=!4m5!3m4!1s0x88d9b6d88a4d43d5:0x31a059fecae4fc71!8m2!3d25.7900531!4d-80.2311851" target = "map">NW North River Dr & 10th Ct</a>
</div>
<div class="col-xs-4">
7:29am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/903+NW+10th+Ave,+Miami,+FL+33136/@25.7822334,-80.212051,18z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9b6d88a4d43d5:0x31a059fecae4fc71!2sNW+North+River+Dr,+Miami,+FL!3b1!8m2!3d25.7900531!4d-80.2311851!3m4!1s0x88d9b6c01974d46f:0x6e5c8328dabe8ecc!8m2!3d25.782231!4d-80.210954" target = "map">NW North River Dr & NW 10th Ave</a>
</div>
<div class="col-xs-4">
7:29am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Spring+Garden+Point+Park/@25.7794568,-80.2097497,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b695055848c9:0x3c848fa6eb17277c!8m2!3d25.779452!4d-80.2075557" target = "map">Spring Garden Point Park</a>
</div>
<div class="col-xs-4">
7:29am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/NW+S+River+Dr,+Miami,+FL/@25.7856319,-80.2291486,19z/data=!4m5!3m4!1s0x88d9b6d8c7a0d6f3:0xa31aa265219a68b4!8m2!3d25.787113!4d-80.2313082" target = "map">NW 13th St & NW S River Dr</a>
</div>
<div class="col-xs-4">
7:29am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Jose+Marti+Riverwalk,+Miami,+FL+33130/@25.7707813,-80.1993411,18z/data=!4m5!3m4!1s0x88d9b69043bbaa65:0x288674a6a47bef71!8m2!3d25.7712644!4d-80.2003121" target = "map">Jose Marti Riverwalk</a>
</div>
<div class="col-xs-4">
7:29am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/US-1+%26+US-41+%26+MacArthur+Causeway,+Miami,+FL+33130/@25.7859445,-80.1905859,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9b4159b4b36a7:0xe14baa75dda1a90c!2sMacArthur+Causeway,+Miami+Beach,+FL+33139!3b1!8m2!3d25.7740462!4d-80.1560186!3m4!1s0x88d9b6a0ad51b5d5:0x7b34defbc6b23780!8m2!3d25.7859397!4d-80.1883919" target = "map">McArthur Causeway & US 1</a>
</div>
<div class="col-xs-4">
7:29am
</div>
</div>

<div class = "row bluerow">
<div class="col-xs-12 col-md-12">
Miami Beach
</div>
</div>

<div class = "row">
<div class="col-xs-1">
</div>
<div class="col-xs-7">
<a href = "https://www.google.com/maps/place/Maurice+Gibb+Memorial+Park/@25.79262,-80.146936,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b47dbb016b49:0x54d56086cf047de!8m2!3d25.79262!4d-80.1447473" target = "map">Maurice Gibb Memorial Park</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row">
<div class="col-xs-1">
</div>
<div class="col-xs-7">
<a href = "https://www.google.com/maps/place/25%C2%B048'18.3%22N+80%C2%B007'35.4%22W/@25.8050928,-80.1286987,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d25.805088!4d-80.12651" target = "map">Indian Creek Bridge</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row">
<div class="col-xs-1">
</div>
<div class="col-xs-7">
<a href = "https://www.google.com/maps/place/25%C2%B046'37.0%22N+80%C2%B008'33.7%22W/@25.7769478,-80.1448629,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d25.776943!4d-80.142684" target = "map">Biscayne Bay Path</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/535+W+29th+St,+Miami+Beach,+FL+33140/@25.8059718,-80.1331289,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9b363500c521b:0xe9a3ecb90110346!2sFairgreen+Dr,+Miami+Beach,+FL+33140!3b1!8m2!3d25.8049142!4d-80.1310634!3m4!1s0x88d9b364a5eeea9b:0x7b6c91cf640ccd58!8m2!3d25.805967!4d-80.1309349" target = "map">W 29th St & Fairgreen Dr</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/1200+W+27th+St,+Miami+Beach,+FL+33140/@25.804116,-80.1405569,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9b372fe66ca31:0xed6072aedac99676!2sN+Bay+Rd,+Miami+Beach,+FL!3b1!8m2!3d25.8200563!4d-80.1367412!3m4!1s0x88d9b37eecdd9121:0x390802a276c877da!8m2!3d25.8040554!4d-80.1392514" target = "map">N Bay Rd & NW 27 St</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Purdy+Ave,+Miami+Beach,+FL+33139/@25.7936991,-80.1441727,17z/data=!4m5!3m4!1s0x88d9b47dc1835165:0x143f8be557f2be95!8m2!3d25.793559!4d-80.1443819" target = "map">Purdy Ave & 18 St</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/1776+Michigan+Ave,+Miami+Beach,+FL+33139/@25.7935334,-80.1414696,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9b4f4b4059b9b:0x78026b35fdb01930!2sMichigan+Ave,+Miami+Beach,+FL+33139!3b1!8m2!3d25.7840233!4d-80.1386399!3m4!1s0x88d9b486c5034207:0x701c618085b9164c!8m2!3d25.7935286!4d-80.1392756" target = "map">Michigan Ave & 18 St</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/1600+Bay+Rd,+Miami+Beach,+FL+33139/@25.7890748,-80.146044,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9b47d682bbe6f:0x32671a3388578bc6!2sBay+Rd,+Miami+Beach,+FL+33139!3b1!8m2!3d25.7903898!4d-80.1436803!3m4!1s0x88d9b47d4c64565b:0x6eaa958d94bfe2a7!8m2!3d25.788988!4d-80.1436209" target = "map">Bay Rd & 16 St</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/1405+Lenox+Ave,+Miami+Beach,+FL+33139/@25.7855168,-80.141673,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9b489773a0b51:0xb4f29f42023a0db7!2sLenox+Ave,+Miami+Beach,+FL+33139!3b1!8m2!3d25.7840024!4d-80.1398174!3m4!1s0x88d9b48902eeb259:0xbe61233d022b2876!8m2!3d25.7852586!4d-80.1398058" target = "map">Lenox Ave & 14 St</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/West+Ave,+Miami+Beach,+FL+33139/@25.7851742,-80.1445327,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b489daa38279:0x87f36e7aece580d9!8m2!3d25.7851694!4d-80.1423387" target = "map">West Ave & 14 St</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Fraternal+Order+of+Police/@25.7817494,-80.1406414,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9b4f4b4059b9b:0x78026b35fdb01930!2sMichigan+Ave,+Miami+Beach,+FL+33139!3b1!8m2!3d25.782647!4d-80.1386714!3m4!1s0x88d9b48be8608f2f:0x20eedf0745d03348!8m2!3d25.7817446!4d-80.13844747" target = "map">Michigan Ave & 11 St</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row">
<div class="col-xs-1 col-md-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/1233+9th+St,+Miami+Beach,+FL+33139/@25.7792795,-80.1437515,17z/data=!3m1!4b1!4m13!1m7!3m6!1s0x88d9b489c89a5e2d:0x90b27d0620027908!2sAlton+Ct,+Miami+Beach,+FL+33139!3b1!8m2!3d25.7851904!4d-80.1417337!3m4!1s0x88d9b48a8de4402b:0x54d51c4f98c831ea!8m2!3d25.7792915!4d-80.1415625" target = "map">Alton Ct & 9 St</a>
</div>
<div class="col-xs-4">
7:46am/7:09am
</div>
</div>

<div class = "row bluerow">
<div class="col-xs-12 col-md-12">
Shorecrest
</div>
</div>
<div class = "row">
<div class="col-xs-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/Little+River+Pocket+Park/@25.8462837,-80.1786662,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9b3d278ce61f5:0xb5d23769cfb1df3d!8m2!3d25.8462789!4d-80.1764775" target = "map">Little River Pocket Park</a>
</div>
<div class="col-xs-4">
7:56am
</div>
</div>

<div class = "row">
<div class="col-xs-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/NE+10th+Ave,+Miami,+FL/@25.8520319,-80.1796387,16z/data=!4m5!3m4!1s0x88d9adf87b73f0a5:0x8f480b0d76a995f8!8m2!3d25.9123472!4d-80.179444" target = "map">NE 10th Ave. & 79 St.</a>
</div>
<div class="col-xs-4">
7:56am
</div>
</div>

<div class = "row">
<div class="col-xs-1">
</div>
<div class="col-xs-7">
<a href="https://www.google.com/maps/place/NE+10th+Ave,+Miami,+FL/@25.8587131,-80.1796387,16z/data=!4m5!3m4!1s0x88d9adf87b73f0a5:0x8f480b0d76a995f8!8m2!3d25.9123472!4d-80.179444" target = "map">NE 90th St & NE 10th Ct</a>
</div>
<div class="col-xs-4">
7:56am
</div>
</div>

</div>


<footer> 
<div class = "row">
<div class="col-xs-6 col-md-6">
<img src="http://eyesontherise.org/app/images/smeyes.png" class="img-responsive" longdesc="http://eyesontherise.org">
</div>
<div class="col-xs-6 col-md-6"> 
  <img src="http://eyesontherise.org/app/images/smslsc.png" class="img-responsive"> </div>
 </div>
 </footer>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
 		<script src="Hello World"></script>
	</body>
</html>