// Place all the styles related to the Landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mapwrap {
  position: relative;
}

#gmap {
  height: 100%;
}

input.salinity-input {
  width: 220px !important;
}

.flood-labels {
  display: block;
}

.add-image {
  float: right;
  margin-top: 20px;
}